@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Inter';
}

body {
    background-color: #FEE8B2;
}


/* ORGANIZANDO O GRID (FOI A FORMA MAIS FÁCIL E RÁPIDA QUE ENCONTREI DE FAZER) */
.containerA {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows:10vh 40vh 40vh 10vh;
    grid-template-areas:"header header"
                        "titulo img1"
                        "titulo img2"
                        "footer footer";
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.titulo {
    grid-area: titulo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vw;
}

.botao {
    grid-area: botao;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img1 {
    grid-area: img1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.img2 {
  grid-area: img2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.footer {
    grid-area: footer;
}

/* ORGANIZAÇÃO DA LOGO */
.voltar {
  width: 50vw;
  padding-left: 3vw;
}

.buttonBack {
  background: none;
  border: none;
}

.imgButton {
  width: 1vw;
  height: 4vh;
}
.imgButton:hover {
  width: 1.2vw;
  height: 5vh;
}

.logo {
  width: 49vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  padding-left: 3vw;
}

.imgLogo {
  width: 12vw;
  height: 6vh;
}

/* ADICIONANDO FORMAS GEOMÉTRICAS NO FUNDO DO TÍTULO */
.escritaGrande {
    background: url(assets/fundoTitulo.png);
    background-repeat: no-repeat;
    background-size: 40vh;
    padding-top: 19vh;
    padding-left: 5vw;
}

/* ORGANIZANDO O DESIGN DO TÍTULO */
.tituloEscrito {
    font-family: 'Archivo Black', sans-serif;
    font-size: 10vh;
    line-height: 1;
    text-transform: uppercase;
}

/* ORGANIZANDO A DISPOSIÇÃO DO TEXTO */
.texto {
    margin-top: 2vh;
    padding-left: 5vw;
    width: 25vw;
}
.photo{

    padding-left: 40vh;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    /* grid-column: 1; */
    
}
.nos{
    border-radius: 50%;
    width: 10vw;
    height: 19vh;
    border-color: #d1ab49;
    border-style:initial;
    /* padding-top: 20vh; */
}

.tam_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 40vh;
}

.infos {
  text-align: center;
}

h3 {
  padding-top: 1.5vh;
}

@media all and (max-width: 896px) {
  .containerA {
    display: grid;
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 10vh 20vh 35vh 30vh 10vh;
    grid-template-areas:"header header"
                        "titulo titulo"
                        "img2 img2"
                        "img1 img1"
                        "footer footer";
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.titulo {
  grid-area: titulo;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3vw;
}

.img1 {
  grid-area: img1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  flex-wrap: wrap;
}

.img2 {
grid-area: img2;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10vw;
flex-wrap: wrap;
}

.footer {
  grid-area: footer;
}

.voltar {
  width: 50vw;
  padding-left: 3vw;
}

.buttonBack {
  background: none;
  border: none;
}

.imgButton {
  width: 3vw;
  height: 2vh;
}

.imgButton:hover {
  width: 3.5vw;
  height: 2.5vh;
}

.imgLogo {
  width: 20vw;
  height: 2.5vh;
}

.logo {
  width: 49vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  padding-left: 3vw;
}


/* ADICIONANDO FORMAS GEOMÉTRICAS NO FUNDO DO TÍTULO */
.escritaGrande {
    background: url(../assets/fundoTitulo.png);
    background-repeat: no-repeat;
    background-size: 20vh;
    padding-top: 10vh;
    padding-left: 5vw;
}

/* ORGANIZANDO O DESIGN DO TÍTULO */
.tituloEscrito {
    font-family: 'Archivo Black', sans-serif;
    font-size: 5vh;
    line-height: 1;
    text-transform: uppercase;
}

/* ORGANIZANDO A DISPOSIÇÃO DO TEXTO */
.texto {
    margin-top: 2vh;
    padding-left: 5vw;
    width: 100vw;
}
.photo{
    padding-left: 40vh;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    /* grid-column: 1; */
    
}
.nos{
    border-radius: 50%;
    width: 23vw;
    height: 12vh;
    border-color: #d1ab49;
    border-style:initial;
    /* padding-top: 20vh; */
}

.tam_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 23vw;
  height: 20vh;
}

}





